<body>
  <div *ngIf="!isEmpty">
    <h1 class="text-center">Your Bids</h1>    
  </div>
<div class="row mt-1 container-fluid">
    <div class="col-sm-4" *ngFor="let bid of bids">
      <div class="card mb-4 shadow-sm">
        <img [src]="bid['product'].image" alt="Product Image" width="150px" height="150px" class="rounded mx-auto shadow mt-2">
        <div class="d-flex card-body" style="flex-direction: column;">
          <h1 class="text-center">{{bid.product.productname}}</h1>
          <p class="card-text ">{{bid.product.description}}</p>
          <p class="text-muted">Seller : {{bid.sellername}}</p>
          <h5>Initial Bid : {{ bid.product.initialbid | currency}}</h5>
          <h5 >Your Bid : {{ bid.bidval | currency}}</h5><br>
          <a *ngIf="bid.status" (click)="purchaseProduct(bid.bid_id)" class="btn btn-success">Pay</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container md-6 mt-5 shadow-sm" *ngIf="isEmpty">
   
    <h1 class="text-center">You didn't Bid for any Product...<a routerLink="..">Click here</a>To Go Products Page<br><small class="text-primary"> Thanks for Visiting the Site..</small></h1>
  </div>
</body>